@import "generated.scss";

// colors
$navbar-background: gray;
$navbar-navlist-background: lightgray;

$photo-text-color: white;
$photo-title-color: white;
$photo-description-color: white;
$photo-sub-description-color: whitesmoke;

// misc variables
$darken-the-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));
$pre-hover-darken-the-image: linear-gradient(
    rgba(0, 0, 0, 0.3),
    rgba(0, 0, 0, 0.3)
);

// common

html,
body {
    height: 100%;
}

html {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5rem;

    body {
        margin: 0;
        padding: 0;
    }
}

a,
NavLink {
    text-decoration: none;
    color: black;
}

.hidden-style {
    display: none;
}
// END OF common

// language

.ukrainian_language {
    display: none;
}

// end of language

@import "navbar.scss";

@import "new.scss";
