// homepage

$assetPath: "../assets/";
$main-photo-section: "#{$assetPath}kristina_main.jpg";

$options-photo1: "#{$assetPath}Kristina22755514368_n.png";
$options-photo2: "#{$assetPath}Kristina10208_n.png";
$options-photo3: "#{$assetPath}Kristina000_n.png";
$options-photo4: "#{$assetPath}Kristina4681_n.png";

.homepage-wrapper {
    .photo-sub-description {
        font-size: 0.7em;
        color: $photo-sub-description-color;
    }

    .homepage {
        .section-wrapper {
            .section {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                text-align: center;
                color: $photo-text-color;
            }

            .photo-section {
                height: 700px;
                background: $darken-the-image,
                    url($main-photo-section) no-repeat top center;
                background-size: cover;
            }

            .options-section {
                display: grid;
                grid-template-columns: 1fr 1fr;
                gap: 5px;
                padding: 5px;
                .options-photos {
                    height: 50vw;
                }

                .photo1 {
                    background: $pre-hover-darken-the-image,
                        url($options-photo1) no-repeat top center;
                    background-size: cover;
                }
                .photo2 {
                    background: $pre-hover-darken-the-image,
                        url($options-photo2) no-repeat top center;
                    background-size: cover;
                }
                .photo3 {
                    background: $pre-hover-darken-the-image,
                        url($options-photo3) no-repeat top center;
                    background-size: cover;
                }
                .photo4 {
                    background: $pre-hover-darken-the-image,
                        url($options-photo4) no-repeat top center;
                    background-size: cover;
                }
            }
        }
    }
}
