// homepage

$assetPath: "../assets/";
$main-photo-section: "#{$assetPath}kristina_main.jpg";

.homepage-wrapper {
    .homepage {
        .section-wrapper {
            .section {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                text-align: center;

                height: 500px;
            }

            .photo-section {
                color: white;
                background: $darken-the-image,
                    url($main-photo-section) no-repeat top center;
                background-size: cover;
            }
        }
    }
}
